libs :=singa glog protobuf

.PHONY: create

create:
	$(CXX) output_for_pca.cc -std=c++11 -lsinga -lprotobuf -lzookeeper_mt -lglog -I../../include \
		-L../../.libs/ -L/usr/local/lib -Wl,-unresolved-symbols=ignore-in-shared-libs -Wl,-rpath=../../.libs/ \
		-o output_for_pca.bin
	./output_for_pca.bin output.txt 1260 0 540
